{% extends "interviewapp/public/base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <div style="height: 25px"></div>
        <div style="height: 100px"><a href="{% url 'interviewapp:home' %}" class="btn btn-primary btn-lg">Home</a><a href="{% url 'interviewapp:interview' %}" class="btn btn-primary btn-lg">Admin(Interview)</a><a href="{% url 'admin:index' %}" class="btn btn-primary btn-lg">Admin Site</a></div>


        <div class="form-group">
            <label for="progLang">Programming Language</label>
            <select class="progLang-ajax" style="width:50%" multiple="multiple"></select>
        </div>

        <div class="form-group">
            <label for="progLang">Language</label>
            <select class="lang-ajax " style="width:50%" multiple="multiple"></select>
        </div>

{#        <button type="submit" id="btnSearch" onclick="searchDev()" class="btn btn-primary">Submit</button>#}
        <button type="submit" id="btnSearch" data-bind="click: $data.addDeveloper" class="btn btn-primary">Submit</button>

    </div>



    <div class="border-light mb-12">
        <div class="card-body">
            <h4 class="card-title">Search result</h4>
            <table class="table table-hover" id="test">
                <thead>
                <tr>
                    <th scope="col">SN</th>
                    <th scope="col">Developer</th>
                    <th scope="col">Programming Language</th>
                    <th scope="col">Language</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: developer" >

                    <tr>
                        <th scope="row" data-bind="text: id"></th>
                        <td data-bind="text: email"></td>
                        <td data-bind="foreach: programming_language"><!-- ko if: $index() > 0 -->,<!-- /ko --><span data-bind="text: name"></span></td>
                        <td data-bind="foreach: language"><!-- ko if: $index() > 0 -->,<!-- /ko --><span data-bind="text: code"></span></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

    <script src="{% static "js/knockout-3.4.2.js" %}"></script>
    <script src="{% static "js/script.js" %}" defer="defer"></script>

{% endblock %}

