{% extends "interviewapp/public/base.html" %}
{% load staticfiles %}

{% block content %}
    <div style="height: 100px"><a href="{% url 'interviewapp:home' %}" class="btn btn-primary btn-lg">Home</a><a
            href="{% url 'interviewapp:search_developer' %}" class="btn btn-primary btn-lg">Search Developer</a><a href="{% url 'admin:index' %}" class="btn btn-primary btn-lg">Admin Site</a></div>
    <div id="starting">
        <div class="container">
            <div class="row">
                <h1>List of Interviews
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addInterviewModal">
                        ADD Interview
                    </button>
                </h1>
                
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" @click="sort('developer')">developer</th>
                        <th scope="col" @click="sort('score')">score</th>
                        <th scope="col" @click="sort('comment')">comment</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="interview in interviewsSorted">
                        <td>${interview.developer.email}</td>
                        <td>${interview.score}</td>
                        <td>${interview.comment}</td>
                        <td>
                            <button class="btn btn-info" v-on:click="getInterview(interview.id)">Edit</button>
                            <button class="btn btn-danger" v-on:click="deleteInterview(interview.id)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Add Interview Modal -->
                <div class="modal fade" id="addInterviewModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">ADD Interview</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form v-on:submit.prevent="addInterview()">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="interview_name">Developer</label>
                                        <select v-model="newInterview.developer">
                                            <option v-for="developer in developers" v-bind:value="developer.id">
                                                ${ developer.email }
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="interview_heading">Score</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="interview_heading"
                                                placeholder="Enter Interview score"
                                                v-model="newInterview.score"
                                                required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="interview_body">Comment</label>
                                        <textarea
                                                class="form-control"
                                                id="interview_body"
                                                placeholder="Enter Interview comment"
                                                v-model="newInterview.comment"
                                                required="required"
                                                rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="loading" v-if="loading===true">Loading&#8230;</div>
                </div>
                <!-- End of add interview modal -->
                <!-- Edit Interview Modal -->
                <div class="modal fade" id="editInterviewModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">EDIT Interview</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form v-on:submit.prevent="updateInterview()">
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label for="Interview_heading">Score</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="interview_heading"
                                                placeholder="Enter Interview Score"
                                                v-model="currentInterview.score"
                                                required="required">
                                    </div>

                                    <div class="form-group">
                                        <label for="interview_body">Comment</label>
                                        <textarea
                                                class="form-control"
                                                id="interview_body"
                                                placeholder="Enter Interview Comment"
                                                v-model="currentInterview.comment"
                                                required="required"
                                                rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="loading" v-if="loading===true">Loading&#8230;</div>
                </div>
                <!-- End of edit interview modal -->

            </div>
        </div>
        <div class="loading" v-if="loading===true">Loading&#8230;</div>

    </div>

    <!-- bootrtap js files -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- vue.js files -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script type="text/javascript">
        Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
        new Vue({
            el: '#starting',
            delimiters: ['${', '}'],
            data: {
                interviews: [],
                developers: [],
                loading: true,
                currentInterview: {},
                message: null,
                newInterview: {'developer': null, 'score': null, 'comment': null},
                search_term: '',
                currentSort: "score",
                currentSortDir: 'asc'
            },
            mounted: function () {
                this.getInterviews();
                this.getDevelopers();
            },
            methods: {
                getInterviews: function () {
                    let api_url = '/api/interview/';
                    if (this.search_term !== '' || this.search_term !== null) {
                        api_url = `/api/interview/?search=${this.search_term}`
                    }
                    this.loading = true;
                    this.$http.get(api_url)
                        .then((response) => {
                            this.interviews = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                getDevelopers: function () {
                    let api_url = '/api/developer/';
                    if (this.search_term !== '' || this.search_term !== null) {
                        api_url = `/api/developer/?search=${this.search_term}`
                    }
                    this.loading = true;
                    this.$http.get(api_url)
                        .then((response) => {
                            this.developers = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },

                getInterview: function (id) {
                    this.loading = true;
                    this.$http.get(`/api/interview/${id}/`)
                        .then((response) => {
                            this.currentInterview = response.data;
                            $("#editInterviewModal").modal('show');
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                addInterview: function () {
                    this.loading = true;
                    console.log(this.newInterview);
                    this.$http.post('/api/interview/', this.newInterview)
                        .then((response) => {
                            this.loading = true;
                            this.getInterviews();

                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                updateInterview: function () {
                    this.loading = true;
                    this.$http.put(`/api/interview/${this.currentInterview.id}/`, this.currentInterview)
                        .then((response) => {
                            this.loading = false;

                            this.currentInterview = response.data;
                            this.getInterviews();
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                deleteInterview: function (id) {
                    this.loading = true;
                    this.$http.delete(`/api/interview/${id}/`)
                        .then((response) => {
                            this.loading = false;
                            this.getInterviews();
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                sort: function (s) {
                    //if s == current sort, reverse
                    if (s === this.currentSort) {
                        this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                    }
                    this.currentSort = s;
                }
            },
            computed: {
                interviewsSorted: function () {
                    return this.interviews.sort((a, b) => {
                        console.log(a);
                        console.log(this.currentSort);
                        console.log(a[this.currentSort]);
                        console.log(b[this.currentSort]);
                        let modifier = 1;
                        if (this.currentSort === 'developer') {

                            if (this.currentSortDir === 'desc') modifier = -1;
                            if (a[this.currentSort].email < b[this.currentSort].email) return -1 * modifier;
                            if (a[this.currentSort].email > b[this.currentSort].email) return 1 * modifier;
                            return 0;
                        } else {

                            if (this.currentSortDir === 'desc') modifier = -1;
                            if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                            if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                            return 0;
                        }

                    });
                }
            }
        });
    </script>
{% endblock %}
