{% extends "interviewapp/public/base.html" %}
{% load staticfiles %}

{% block content %}

    <a href="{% url 'interviewapp:search_developer' %}" class="btn btn-primary btn-lg">Search Developer</a><br>
    <a href="{% url 'interviewapp:interview' %}" class="btn btn-primary btn-lg">Admin(Interview)</a>
    <a href="{% url 'admin:index' %}" class="btn btn-primary btn-lg">Admin Site</a>
<br><br><br>
    <h3>Admin Site login credentials</h3><br>

    <h6>username: admin</h6><br><h6>password: Asdf1234@_</h6>

{% endblock %}