{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

{% include "interviewapp/public/head.html" %}

<body>

{% block content %}

{% endblock %}

{% block footer %}
    {% include "interviewapp/public/footer.html" %}
{% endblock %}
</body>
</html>