{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

{#    <base href="https://interview-search.herokuapp.com">#}
    <base href="http://127.0.0.1:8000">

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/interview.css" %}"/>

    <title>::</title>
</head>